
<div class="bz-intro jumbotron">
  <div class="container">
    <div class="bz-logo-lg-container">
      <h1>        
        <img class="bz-logo-lg" src="/images/buzzrd-lg.png" alt="Buzzrd" />
      </h1>
    </div>
    <div class="bz-sub">
      <p><span class="nowrap">Create rooms.</span> <span class="nowrap">Share your thoughts.</span> <span class="nowrap">Do it anonymously.</span></p>
    </div>
  </div>
</div>

<div class="container bz-about">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <h2 class="bz-section-title">What is Buzzrd?</h2>
      <hr>
      <p>Buzzrd is a brand new app that allows you to chat with those around you. Whether looking for a place to go for a night of fun or already at an awesome location - see what people are talking about.</p>          
    </div>
  </div>
</div>
<div class="container">
  <hr>        
</div>
<div class="container bz-screenshots">
  <div class="row">    
    <div class="col-xs-12 col-md-4 bz-screenshot-container">
      <img src="/images/buzzrd-5_5in-1.png" />
      <h4>Sign-Up</h4>
      <p>Create an account by entering a username and password.</p>      
    </div>
    <div class="col-xs-12 col-md-4 bz-screenshot-container">
      <img src="/images/buzzrd-5_5in-2.png" />
      <h4>Find Rooms</h4>
      <p>Find nearby conversations. Join one, or create a new one.</p>
    </div>
    <div class="col-xs-12 col-md-4 bz-screenshot-container">
      <img src="/images/buzzrd-5_5in-3.png" />
      <h4>Converse</h4>
      <p>Let people know what you're thinking.</p>
    </div>
  </div>
</div>