<!DOCTYPE html>
<head>
  
  <!-- Page Setup
  -------------------------------------- -->  
  <meata charset="utf-8">
  <title>Buzzrd - Chat around you</title>
  <meta name="description" content="Buzzrd is for chatting with people around you. Share your thoughts."
  <meta name="author" content="RedTurn Software">

  <!-- OpenGraph
  -------------------------------------- --> 
  <meta property="og:title" content="Buzzrd">
  <meta property="og:description" content="Buzzrd is for chatting with people around you. Share your thoughts.">
  <meta property="og:image" content="http://www.buzzrd.io/images/buzzrd-bf.png">

  <!-- OpenGraph
  -------------------------------------- --> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Bootstrap
  -------------------------------------- -->
  <link rel="stylesheet" href="/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Favicons
  -------------------------------------- -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <!-- CSS
  -------------------------------------- -->
  <link rel="stylesheet" href="/buzzrd.css">

</head>
<body>

  <div class="navbar navbar-buzzrd navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">        
        <a class="navbar-brand" href="#">
          <img src="/images/buzzrd.png" alt="Buzzrd" />          
        </a>                      
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/privacy">PRIVACY</a></li>
          </ul>        
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Privacy Policy</h1>
  </div>

</body>
</html>