<!DOCTYPE html>
<head>
  
  <!-- Page Setup
  -------------------------------------- -->  
  <meata charset="utf-8">
  <title>Buzzrd - Chat around you</title>
  <meta name="description" content="Buzzrd is for chatting with people around you. Share your thoughts."
  <meta name="author" content="RedTurn Software">

  <!-- OpenGraph
  -------------------------------------- --> 
  <meta property="og:title" content="Buzzrd">
  <meta property="og:description" content="Buzzrd is for chatting with people around you. Share your thoughts.">
  <meta property="og:image" content="http://www.buzzrd.io/images/buzzrd-bf.png">

  <!-- OpenGraph
  -------------------------------------- --> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Bootstrap
  -------------------------------------- -->
  <link rel="stylesheet" href="/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Favicons
  -------------------------------------- -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

  <!-- CSS
  -------------------------------------- -->
  <link rel="stylesheet" href="/buzzrd.css">

</head>
<body>

  <div class="navbar navbar-buzzrd navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">        
        <a class="navbar-brand" href="#">
          <img src="/images/buzzrd.png" alt="Buzzrd" />          
        </a>                      
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">ABOUT</a></li>
            <li><a href="/support">SUPPORT</a></li>
            <li><a href="/privacy">PRIVACY</a></li>
          </ul>        
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Privacy Policy</h1>
<p>
  <br/>RedTurn Software and Buzzrd respects your privacy.  We are committed to protecting all personal information collected from you. To illustrate this commitment, we provide this Privacy Policy ("Policy").  Within the Policy we explain how we collect, store, and use the information you provide.
  <br/>
  <br/>1. Introduction
  <br/>This Policy covers the Buzzrd application and the data collected through it us by you.  
  <br/>
  <br/>We may change this Privacy Policy to better protect your privacy. When changes are made we will notify you based on you Buzzrd User Settings.  Notification may be done directly through the Buzzrd application. You should review the Policy before connecting to Buzzrd.
  <br/>
  <br/>2. Personal Information
  <br/>i. What we collect
  <br/>User Name
  <br/>Password
  <br/>(Optional) First Name
  <br/>(Optional) Last Name
  <br/>(Optional) Gender
  <br/>Location of user when contributions are made to Buzzrd.  (Based on Location Services of your mobile device)
  <br/>
  <br/>ii. How we use it
  <br/>Buzzrd only users your information to validate your access to the application.  Buzzrd in no way will sell this information to any third party.
  <br/>
  <br/>iii. How we store it
  <br/>All data collected is stored in a secure manner.  Passwords and Usernames are stored in a one way hash, which prevents anyone from viewing this data even in the unlikely event of a data breach.
  <br/>
  <br/>3. Information Collected Automatically
  <br/>We collect time, date, and location of all contributions to Buzzrd.  Each contribution made to Buzzrd is associated with your username.  This information will not be used for anything other than displaying data to you and other users in Buzzrd. 
  <br/>
  <br/>4. CONTACT US
  <br/>If you have any questions, complaints, or comments regarding this Policy, please contact us by the means listed below.
  <br/>
<br/>support@buzzrd.io
</p>
  </div>

</body>
</html>