
/* FONTS
****************************************************************/

/*@font-face {
    font-family: 'buzzrdregular';
    src: url('/fonts/buzzrd-regular-webfont.eot');
    src: url('/fonts/buzzrd-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/buzzrd-regular-webfont.woff2') format('woff2'),
         url('/fonts/buzzrd-regular-webfont.woff') format('woff'),
         url('/fonts/buzzrd-regular-webfont.ttf') format('truetype'),
         url('/fonts/buzzrd-regular-webfont.svg#buzzrdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'buzzrdlight';
    src: url('/fonts/buzzrd-light-webfont.eot');
    src: url('/fonts/buzzrd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/buzzrd-light-webfont.woff2') format('woff2'),
         url('/fonts/buzzrd-light-webfont.woff') format('woff'),
         url('/fonts/buzzrd-light-webfont.ttf') format('truetype'),
         url('/fonts/buzzrd-light-webfont.svg#buzzrdlight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato-regular-webfont.eot');
    src: url('/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato-regular-webfont.woff') format('woff'),
         url('/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('/fonts/lato-light-webfont.eot');
    src: url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato-light-webfont.woff2') format('woff2'),
         url('/fonts/lato-light-webfont.woff') format('woff'),
         url('/fonts/lato-light-webfont.ttf') format('truetype'),
         url('/fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
******************************************************************/

/* Color Pallete 

Secondary dark:   #f58720;
Secondary medium: #faa819;
Secondary light:  #ffcf74;

*/



body {
  background-color: #252626;
  font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #464646;
}


.bz-body {
  min-height: 600px;
  background-color: #e2e3e4;
}

.bz-footer {
  background-color: #252626;
  color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.bz-navbar {
  background-image: none;
  background-color: #57585a;
  color: #faa819;
  margin-bottom: 0;
}
.bz-navbar a {
  color: #faa819;
  text-shadow: 0 0 0 !important;
  font-weight: normal;
  font-family: "latolight", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.bz-navbar .nav>li>a:hover, 
.bz-navbar .nav>li>a:focus {
  background-color: #57585a;
}

.bz-navbar .navbar-toggle { 
  background-color: #57585a;
  border-color: #faa819;  
}
.bz-navbar .navbar-toggle .icon-bar {
  background-color: #faa819;
}
.bz-navbar .navbar-toggle:hover {
  background-color: #67686a;
}

.navbar-brand img {
  height: 20px;  
}

.bz-intro { 
  text-align: center;
  background-color: #616264;
  color: #f0f0f0;
  border-bottom: 4px solid #faa819;
}
.bz-intro .bz-logo-lg-container {  
  padding-top: 0px;
  padding-bottom: 40px;
}
.bz-intro p {  
  font-size: 28px;
}
.bz-logo-lg {
  display: inline-block;
  width: 33.33%;
  min-width: 140px;
  height: auto;
}

.bz-getapp {
  margin-top: 30px;
  text-align: center;
}
.btn-appstore {
  padding: 4px 20px 6px 52px;
  background-color: rgb(148, 150, 152);
  background-image: url(/images/apple_white_48px.png);
  background-size: 48px 48px;
  background-position: 2px 0;
  background-repeat: no-repeat;
  color: rgb(250, 250, 250);
}
.btn-appstore:hover,
.btn-appstore:focus {
  background-color: rgb(159, 160, 163);  
  color: rgb(230, 230, 230);
}

.btn-appstore .tiny {
  font-size: 1.1rem;
  line-height: 1rem;
}
.btn-appstore .large {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1rem;
}


.bz-about {
  text-align: center;
}
.bz-about p {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 2.25rem;
}

.bz-section-title {
  text-transform: uppercase;
}

hr {
  background: #f2724e;
  margin: 24px auto;
  background: #f2724e;
  width: 150px;
  padding: 1px;

}

.bz-screenshots {
  margin-top: 30px;
}

.bz-screenshots img {
  width: 87%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #909090;
  max-width: 320px;
}

.bz-screenshot-container {
  text-align: center;
  margin-bottom: 20px;
}




.nowrap {
  white-space: nowrap;
}




@media only screen and (max-width: 768px) {
  .bz-intro p {
    font-size: 22px;
  }

}

@media only screen and (max-width: 320px) {
  .bz-intro p {
    font-size: 18px;
  }

  .bz-section-title {
    font-size: 18px;
  }

  .bz-about p {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .btn-appstore{
    background-image: url(/images/apple_white_48px@2.png);
    background-size: 48px 48px;
  }
}